<header class="bar bar-header bar-stable"> <a href="#/app/home" class="button button-icon icon ion-ios7-arrow-thin-left"></a>
  <div class="h1 title">Perfil</div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</header>
<ion-view style=" background-color:#ccc;" title="Perfil">
<ion-content padding="true">
  <div class="list"> <a class="item item-avatar nav-clear menu-close" ng-click="showActionsheet()"  style="border:0px;"> <img src="img/homem.jpg" width="100">
    <h2>{{session_nome}}</h2>
    <p>{{session_usuario}}</p>
    </a>
    <div style="" class="button-bar">
      <button class="button button-small   button-block  icon ion-compose"  ng-class="{true: 'button-positive', false: 'button-stable'}[isActiveD]" ng-click="dados()"></button>
      <button
ng-class="{true: 'button-positive', false: 'button-stable'}[isActiveE]"
             style="" class="button button-small button-stable button-block icon ion-location" ng-click="endereco()"></button>
      <button 
ng-class="{true: 'button-positive', false: 'button-stable'}[isActiveS]"

            style="" class="button button-small button-stable button-block icon ion-key" ng-click="senha()"></button>
    </div>
    <div ng-show="perfil_dados">
      <form>
        <div class="item item-divider">Dados Pessoais</div>
        <label class="item item-input"> <span class="input-label">Nome</span>
          <input type="text" name="nome" value="Wanderson Scopel">
        </label>
        <label class="item item-input has-error"> <span class="input-label">Usuário</span>
          <input type="text" name="usuario">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Telefone</span>
          <input type="text" name="telefone">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Celular</span>
          <input type="text" name="celular">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Data Nascimento</span>
          <input type="text" name="data nascimento">
          <i class="icon ion-alert-circled icon_error" style="right:5px;"></i> </label>
        <label class="item item-input item-select has-error">
        <div class="input-label"> Sexo </div>
        <select>
          <option selected>Masculino</option>
          <option>Feminino</option>
        </select>
        </label>
        <button type="submit" class="button button-stable button-block"> Salvar </button>
      </form>
    </div>
    <div ng-show="perfil_endereco">
      <form>
        <div class="item item-divider">Endereço</div>
        <label class="item item-input"> <span class="input-label">CEP</span>
          <input type="text" name="cep" value="29153-350">
        </label>
        <label class="item item-input has-error"> <span class="input-label">Logradouro</span>
          <input type="text" name="logradouro">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Número</span>
          <input type="text" name="numero">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Complemento</span>
          <input type="text" name="complemento">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <label class="item item-input has-error"> <span class="input-label">Bairro</span>
          <input type="text" name="bairro">
          <i class="icon ion-alert-circled icon_error" style="right:5px;"></i> </label>
        <label class="item item-input item-select has-error">
        <div class="input-label"> Cidade </div>
        <select>
          <option selected>Cariacica</option>
          <option>Vitoria</option>
        </select>
        </label>
        <label class="item item-input item-select has-error">
        <div class="input-label"> Estado </div>
        <select>
          <option selected>ES</option>
          <option>RJ</option>
        </select>
        </label>
        <button type="submit" class="button button-stable button-block"> Salvar </button>
      </form>
    </div>
    <div ng-show="perfil_senha">
      <form>
        <div class="item item-divider">Senha</div>
        <label class="item item-input"> <span class="input-label">Senha</span>
          <input type="password" name="senha" value="29153-350">
        </label>
        <label class="item item-input has-error"> <span class="input-label">Confirmar Senha</span>
          <input type="password" name="confsenha" value="29153-350">
          <i class="icon ion-alert-circled icon_error"></i> </label>
        <button type="submit" class="button button-stable button-block"> Salvar </button>
      </form>
    </div>
  </div>
</ion-content>
