<div style="z-index:99; position: absolute; margin-left:5px; margin-top:5px;"> <img src="img/logo.png" width="65" height="99" /></div>
<header class="bar bar-header bar-stable" style="background-color:#FFF">
  <div class="h1 title"></div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</header>
<div class="geral" style="background:#d9edee;">
  <div class="conteudo">
    <div style="text-align:center; margin-top:60px; margin-bottom:5px;"><img src="img/nuvens.png" width="254" height="71" /></div>
    <div style="font-family:'Hero'; text-align:center;   font-size:22px; color:#235559; width:95%; margin:0 auto; line-height:22px; ">Uma nova forma de <br />
      encontrar o profissional <br />
      que você precisa!
    
    </div>
  </div>
  
   <div style="clear:both"></div>
  
   <div class="rodape">
   <div style=" text-align:center; width:95%; margin:0 auto; line-height:22px; margin-top:30px; ">
  
     
   
   
      <div class="list list-inset" style="margin:0; padding:0px;">
        <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Qual profissional você precisa?">
        </label>
      </div>
      <div class="list list-inset" style="margin:0; padding:0px; margin-top:5px; color:#333">
        <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Qual o local para atendimento?" >
        </label>
      </div>
      <div style="margin:0; padding:0px; margin-top:5px;">
        <button class="button button-block button-positive"> <i class="icon ion-search placeholder-icon" style="color:#FFF"></i> Buscar Profissional </button>
      </div>
  </div>
  </div>
  
  
  
 <div class="tabs tabs-icon-top" style="background-color:#FFF;"> 
  <a class="tab-item active nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a> 
  <a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-search"></i> Buscar </a> 
  <a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo </a> 
  <a class="tab-item nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-clipboard"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
  
   </div> 
</div>
