
<div style="z-index:99; position: absolute; margin-left:5px; margin-top:5px;"> <img src="img/logo.png" width="65" height="99" /></div>



<header class="bar bar-header bar-stable">
   <div class="h1 title"></div>

   
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>



</header>



<div class="geral">
  <div class="conteudo">
    <div style="text-align:center; margin-top:60px; margin-bottom:5px;"><img src="img/nuvens.png" width="254" height="71" /></div>
    <div style="font-family:'Hero'; text-align:center; font-size:22px; color:#235559; width:95%; margin:0 auto; line-height:22px; ">Uma nova forma de 
    <br /> encontrar o profissional <br />
que você precisa!
<div style="clear:both"></div>
<div style="float:right; padding-top:20px; background-image:url(img/busca.png); background-position:top; background-repeat:no-repeat; height:240px; width:100%;"> </div>
     </div> 
  </div>
    
     <div class="tabs tabs-icon-top">
       
     
     
<a class="tab-item active nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a>

<a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo <span class="badge badge-assertive" style="font-size:9px">0</span> </a> 

<a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-ios7-search"></i> Pesquisar <span class="badge badge-assertive" style="font-size:9px">0</span> </a> 

 
<a class="tab-item nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-ios7-copy-outline"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
  
  
 
  </div>
</div>


 

 