<style type="text/css">
.profile-pic {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color:#FFF;
	padding-top:6px;
 
}

.button-icon .icon:before, .button-icon.icon:before {
    font-size: 22px;
	padding:0px;
	margin:0px;
}

.col{
	
	padding:0px;
	margin:0px;
	margin-top:8px;
	text-align:center;}


</style>


<div style="z-index:99; position: absolute; margin-left:5px; margin-top:5px;"> <img src="img/logo.png" width="65" height="99" /></div>
<header class="bar bar-header bar-stable" style="background-color:#FFF">
  <div class="h1 title"></div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon" style="color:#ccc; border:1px solid #CCC"></button>
</header>
<div class="geral" style="background:#d9edee;">
  <div class="conteudo">
    <div style="text-align:center; margin-top:60px; margin-bottom:5px;"><img src="img/nuvens.png" width="254" height="71" /></div>
    <div style="font-family:'Hero'; text-align:center;   font-size:22px; color:#235559; width:95%; margin:0 auto; line-height:22px; ">Uma nova forma de <br />
      encontrar o profissional <br />
      que você precisa!
    
    </div>
  </div>
  
   <div style="clear:both"></div> 
   <div class="rodape">
   <div style=" text-align:center;  margin:0 auto; line-height:22px; margin-top:30px; ">
  
  
  
  
  
  
  
  
  
  
     <div class="row">
  <div class="col">
    <a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-search"></i> Buscar <span class="badge badge-assertive" style="font-size:9px">3</span> </a>

  
   </div>
   
   
   
   
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-location"></i> Próximo <div class="badge badge-assertive" style="font-size:9px; z-index:9999; position:absolute">3</div> </a></div>
  
  
  
  
  
  
  
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-compose"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a></div>
  
  
  
  
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-person-stalker"></i> Profissionais <span class="badge badge-assertive" style="font-size:9px">3</span> </a></div>
 
</div>


 <div class="row">
   
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-person"></i> Perfil</a></div>
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-pin"></i> Endereço</a></div>
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-key"></i> Senha</a></div>
  
  
  <div class="col"><a class="tab-item nav-clear menu-close has-badge profile-pic" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-power"></i> Sair</a></div>
  
 
</div>



<div class="row">
   
  <div class="col" style="font-size:10px">copyright © 2014 SELFBOSS - Todos os direitos reservados</div>
  
 
</div>
 

  
  </div>
  </div>
  
  
  
 <!--<div class="tabs tabs-icon-top" style="background-color:#FFF;"> 
  <a class="tab-item active nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a> 
  <a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-search"></i> Buscar </a> 
  <a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo </a> 
  <a class="tab-item nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-clipboard"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
  
   </div>--> 
</div>
