<header class="bar bar-header bar-stable">
 <a href="#/app/home" class="button button-icon icon ion-ios7-arrow-thin-left"></a>
   <div class="h1 title">Pesquisar</div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</header>
<ion-content class="has-header padding">
 
  <div class="list list-inset" style="margin: 0px; padding:0px">
   <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Digite o que procura" style="color:#333">
  </label>
 

</div>

 <p style="margin: 0px; padding:0px; text-align:left; padding-top:5px; ">Você está em <strong>Vitória - ES</strong></p> 



<ion-refresher on-refresh="doRefresh()"
                     pulling-text="Pull to refresh..."
                     refreshing-text="Refreshing!"
                     refreshing-icon="ion-loading-c"> </ion-refresher>
  <ion-list>
    <ion-item class="item-avatar item-icon-right" ng-repeat="registro in registros" ng-click="profissionalAbrir(registro.nome)">
    <img src="{{registro.foto}}">
    <h2>{{registro.nome}}</h2>
    <p>{{registro.Profissao}}  - {{registro.cidade}} </p>
  </ion-list>





  




 
  
    
</ion-content>

 <div class="tabs tabs-icon-top">  
       
     
 
<a class="tab-item active nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a>



<a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-search"></i> Buscar </a>


<a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo </a> 

 

 
<a class="tab-item nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-clipboard"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
 
  </div>
 