<header class="bar bar-header bar-stable">
 <a href="#/app/home" class="button button-icon icon ion-ios7-arrow-thin-left"></a>
   <div class="h1 title">Pesquisar</div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</header>
<ion-content class="has-header padding">


 
       
      <p>Encontre o profissional que precisa mais próximo de você.</p>

 
 <form>
      
      <div class="item item-divider">O que você precisa?</div>



<label class="item item-input item-select">
    <div class="input-label">
      Profissional
    </div>
    <select>
      <option selected>Pedreiro</option>
      <option>Pintor</option>
    </select>
   
  </label>
 
 

      <label class="item item-input">
        <span class="input-label">Cidade</span>
        <input type="text" name="nome" value="Wanderson Scopel">
      </label>

     
    <label class="item item-input item-select">
    <div class="input-label">
      Estado
    </div>
    <select>
      <option selected>ES</option>
      <option>RJ</option>
    </select>
   
  </label>

 
  
 


<button type="submit" class="button button-stable button-block">
        Buscar
      </button>

<br> 
 
    </form>













  




 
  
    
</ion-content>

 <div class="tabs tabs-icon-top">  
       
     
     
<a class="tab-item nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a>

<a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo <span class="badge badge-assertive" style="font-size:9px">0</span> </a> 

<a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-ios7-search"></i> Pesquisar <span class="badge badge-assertive" style="font-size:9px">0</span> </a> 

 
<a class="tab-item active nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-ios7-copy-outline"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
  
  
 
  </div>
 