<header class="bar bar-header bar-stable">
 <a href="#/app/home" class="button button-icon icon ion-ios7-arrow-thin-left"></a>
   <div class="h1 title">Próximo</div>
  <button side="right" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
</header>
<ion-content class="has-header">
   <map on-create="mapCreated(map)"></map>
   
   
   
   <div class="tabs tabs-icon-top">
       
   
<a class="tab-item active nav-clear menu-close has-badge" href="#/app/home" style="font-size:11px"> <i class="icon ion-ios7-home-outline"></i> Home </a>



<a class="tab-item nav-clear menu-close has-badge" href="#/app/pesquisar" style="font-size:11px"> <i class="icon ion-search"></i> Buscar </a>


<a class="tab-item nav-clear menu-close has-badge"  href="#/app/proximo" style="font-size:11px"><i class="icon ion-location"></i> Próximo </a> 

 

 
<a class="tab-item nav-clear menu-close has-badge" href="#/app/orcamentos" style="font-size:11px"> <i class="icon ion-clipboard"></i> Orçamento <span class="badge badge-assertive" style="font-size:9px">3</span> </a>
 
  </div>
</ion-content> 
 
  