<?xml version="1.0" encoding="UTF-8">
  <widget id="com.maxismedia.selfboss" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SELFBOSS</name>
  <description>
        O que você faz quando precisa de um profissional com urgência?
    </description>
  <author email="ti@selfboss.net" href="http://www.selfboss.net/">
     SELFBOSS
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>