<div class="modal">
  <ion-header-bar>
    <h1 class="title">Solicitar Orçamento</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-close" ng-click="closeOrcamento()"></button>
    </div>
  </ion-header-bar>
<ion-content class="has-header padding">

 <p>Preencha o formulário abaixo com as informações necessárias de sua solicitação.</p>
 <form>
      
      <div class="item item-divider">O que você precisa?</div>



<label class="item item-input item-select">
    <div class="input-label">
      Profissional
    </div>
    <select>
      <option selected>Pedreiro</option>
      <option>Pintor</option>
    </select>
   
  </label>


  <label class="item item-input item-stacked-label">
    <span class="input-label">Fale sobre o que você precisa</span>
    <textarea></textarea>
  </label>


     
     <br>
<div style="clear: both"></div>


<div class="item item-divider">Local para atendimento </div>

      <label class="item item-input">
        <span class="input-label">Cidade</span>
        <input type="text" name="nome" value="Wanderson Scopel">
      </label>

     
    <label class="item item-input item-select">
    <div class="input-label">
      Estado
    </div>
    <select>
      <option selected>ES</option>
      <option>RJ</option>
    </select>
   
  </label>

 

 <br>
<div style="clear: both"></div>


<div class="item item-divider">Responsável pela solicitação </div>

  <label class="item item-input has-error">
        <span class="input-label">Nome</span>
        <input type="text" name="nome">
        <i class="icon ion-alert-circled icon_error"></i>
      </label>
  
    <label class="item item-input has-error">
        <span class="input-label">Telefone</span>
        <input type="text" name="telefone">
        <i class="icon ion-alert-circled icon_error"></i>
      </label>
  

 
 




 


<button type="submit" class="button button-stable button-block">
        Enviar
      </button>

<br> 
 
    </form>
     




  </ion-content>
</div>