<style type="text/css">
img.profile-pic {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	bottom: 10px;
}

.button-icon .icon:before, .button-icon.icon:before {
    font-size: 22px;
	padding:0px;
	margin:0px;
}


</style>

<div class="modal">
  <ion-content has-header="true" style="margin-top: 0px !important;  padding-left:10px; padding-right:10px;">
    <div class="geral">
      <div class="conteudo">
        <button class="button button-clear icon ion-close" ng-click="profissionalFechar()"></button>
        <div class="row" >
          <div class="col" style="text-align:center"> <span style="font-size:18px"><strong>Dudu Goncalves</strong> </span></div>
        </div>
        <div class="row"  >
          <div class="col" style="text-align:center"><img class="profile-pic"  src="http://ionicframework.com/img/docs/mcfly.jpg"></div>
        </div>
        <div class="row" >
          <div class="col" style="text-align:center"> <span style="font-size:12px"><strong>Fotógrafo</strong><br />
            "Apaixonado por tudo que faço, trabalho a 10 anos com fotografia."</span></div>
        </div>
        <div class="row"  >
          <div class="col" style="text-align:center"><span style="font-size:18px"> <span style="font-size:24px"><i class="icon ion-person-stalker"></i></span> <br />
            45</span> <br />
            clientes</div>
          <div class="col" style="text-align:center"><span style="font-size:18px"><span style="font-size:24px"><i class="icon ion-heart"></i> </span><br />
            9,5</span><br />
            nota</div>
          <div class="col" style="text-align:center"><span style="font-size:24px"><i class="icon ion-speakerphone"></i> </span><br />
            <span style="font-size:18px">100</span><br />
            Depoimentos</div>
        </div>
        
        
        
         <div class="row" style="background-color:#F5F5F5; border:1px solid #EEE;  text-align:center; padding:0px; margin:0px;">
          <div class="col">
          
              <a class="button button-icon icon ion-settings" style=" padding:0px; margin:0px; font-size:10px"></a> 
              <a class="button button-icon icon ion-settings"></a>
              <a class="button button-icon icon ion-settings"></a>
              <a class="button button-icon icon ion-settings"></a>
              <a class="button button-icon icon ion-settings"></a></div>
          </div>
        
        
        
        
        
        
        
        
        
      </div>
    </div>
  </ion-content>
</div>
