<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.selfboss.app" 
		versionCode=""
		version="0.0.1" >
	  <name>SELFBOSS</name>
  <description>
        O que você faz quando precisa de um profissional com urgência?
    </description>
  <author email="ti@selfboss.net" href="http://www.selfboss.net/">
     SELFBOSS
    </author>

 <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
 

		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/network"/>

		 
 
		<gap:plugin name="org.apache.cordova.geolocation"  />
		<gap:plugin name="org.apache.cordova.globalization"  />
 


		<icon src="img/demo.png" gap:platform="android" gap:density="ldpi" />
		<icon src="img/demo.png" gap:platform="android" gap:density="mdpi" />
		<icon src="img/demo.png" gap:platform="android" gap:density="hdpi" />
		<icon src="img/demo.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="img/demo.png" gap:platform="android" gap:density="xxhdpi" />

		<gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" />
	</widget>
